.import url("https://fonts.googleapis.com/css?family=Mansalva|Varela+Round");
.import url(css/components/container.css);
.import url(css/components/avatar.css);
.import url(css/components/button.css);
.import url(css/components/banner.css);

body {
	color: #D8BFD8
   font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  margin: 0px;
  background-image: url(images/background-jpg)
}

h1 {
  color:red;
  font-family: 'Mansalva', cursive;
  font-size:50px;
  margin: 0px;
}

a{
  text-decoration: none;
}
